body {
  font-size: 12px;
  font-family: sans-serif;
/*  background:#fff url(../img/body.jpg) repeat;
  background-color: #EBF0F7;
  background-color: #86B2B4;
  background-color: #4AC4A7;
  background-color: #313947;
  background-color: #347BA7;*/
  background-color: #f2f7f9;
  color: #333333;
  line-height: 20px;
  margin: 0;
}

a {
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
/*    color: #313947; */
    color: #03F;
}

a:hover {
    /* color: #86B2B4;
    color: #4F9BD4; */
    color: #03F;
    text-decoration: underline;
}

a:visited {
    /* color: #86B2B4;
    color: #4F9BD4; */
    color: #4F9BD4;
    text-decoration: underline;
}

* {margin:0;padding:0}

h1 { margin: 15px 0; font-size: 22px; font-weight: normal; }
h2 { font-size: 22px; margin: 15px 0; font-weight: normal;}
h3 { font-size: 18px; margin: 10px 0; font-weight: normal;}
h4 { font-size: 16px; margin: 10px 0; font-weight: normal;}
hr {height: 1px; border: 0; }
p { margin: 15px 0;}
a img { border: none; }


button.button:hover, a.button:hover {
  background-color:#dedede;
}

