.topmenu {
	height: auto;
	padding: 0px;
	opacity: 0.75;
}

.navsecondmenu {
	height: auto;
	padding: 0px;
	background-color: #f2f7f9 !important;
	opacity: 0.95;
	margin-left: 275px;
}

.row.rowsecondmenu {
	background-color: #f2f7f9;
}

.nav-item-menu {
	margin-right: 5px;
    background-color: #fff;
	border-top: 1px solid #1e73be;
	border-left: 1px solid #1e73be;
	border-right: 1px solid #1e73be;
}

.container.sticky-top {
    padding-top: 20px;
    background-color: #f2f7f9;
}

ul.nav.pull-right {
	margin-top: 15px;
}

.navbar-inner.bottommenu > .container > .nav-collapse > ul.nav > li {
	font-size: 14px;
	font-family: 'Gotham SSm', Helvetica, Arial, sans-serif;
	font-weight: normal;
    text-transform: capitalize;
}

.navbar .nav.pull-right > li {
    font-size: 12px;
    font-family: 'Gotham SSm', Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}

.navbar .nav > li > a {
    color: #666;
    text-shadow: none;
}

.navbar .nav > li > a:hover {
    color: #1e73be;
    text-decoration: none;
}

#logo {
	margin: 0 auto 0 25%;
    width: 53px;
    height: 65px;
    position: absolute;
}

