{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="container-fluid">
    <h2>Search Results</h2>
    <div id="masonrycontainer">
        {% if query %}
        {% for result in page.object_list %}
        <div class="itemSelector">
            <div class="itemTitle">
                <p><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a></p>
            </div>
            <div class="itemDescription">
                <p>{{ result.object.description }}</p>
            </div><!--End of itemDescription-->
        </div><!--End of itemSelector-->
        {% empty %}
        <p>No results found.</p>
        {% endfor %}
        {% endif %}
    </div>
</div>
<script>
$(function()
    {
        $('#masonrycontainer').masonry(
            {
                itemSelector: '.itemSelector',
                columnWidth : 395
            });
    });
</script>
<script>
$(document).ready(function() {
    $('div.itemDescription p').expander({
        slicePoint: 100, // default is 100
        expandText: 'show more', // default is 'read more'
        userCollapseText: 'show less', // default is 'read less'
        expandSpeed: 0, // default is 0
        afterExpand: function() {
            $(this).find('.details').css({display: 'inline'});
        }
    });
});
</script>

{% endblock %}
