<div class="centerer">
    <div class="row">
        <div class="span3">
            <span class="entry-title">Company Info</span>
            <div class="text">
                <a href="/about-us/">About Us</a><br />
                <a href="/blog/">Blog</a><br />
                <a href="/forum/">Forum</a><br />
                <a href="/wiki/">Wiki</a><br />
                <a href="/support/">Support</a>
            </div>
        </div>
        <div class="span3">
            <span class="entry-title">Our Services</span>
            <div class="text">
                <a href="/find-project/">Find Project</a><br />
                <a href="/find-freelancer/">Find Freelancer</a><br />
                <a href="/gallery/">Gallery</a><br /><a href="/affiliate-program/">Affiliate Program</a><br />
            </div>
        </div>
        <div class="span3">
            <span class="entry-title">Connect With Us</span>
            <div class="text">
                <a class="facebook" href="http://www.facebook.com/pages/LancedIn/" title="Likes our page on Facebook"></a>
                <div style="clear:both;"></div>
                <p>Become a fan of LancedIn</p><br />
                <a class="twitter" href="http://twitter.com/lancedin" title="@lancedin"></a>
                <div style="clear:both;"></div>
                <p>Follow us on Twitter</p><br />
                <a class="email" href="mailto:support@lancedin.com" title="Send an email to us"></a>
                <div style="clear:both;"></div>
                <p>Email us now</p>
            </div>
        </div>
    </div>
</div> <!-- End Centerer -->
<div style="clear: both;"></div>

<div class="footer">
<div class="left">&copy; 2019 Remote, Inc. - All Rights Reserved.</div>
<div class="right"><a href="/terms-of-service/">Terms of Service</a> | <a href="/privacy-policy/">Privacy Policy</a> | <a href="/sitemap/">Sitemap</a></div>
</div>
