{% load fontawesome_5 %}

<div class="container sticky-top">
	<div class="row rowsecondmenu">
		<nav class="navbar navbar-light bg-white navsecondmenu">
			<li class="nav-item-menu">
				<a class="nav-link" href="/">{% fa5_icon 'home' 'fas' %} Home</a>
			</li>
			<li class="nav-item-menu">
				<a class="nav-link" href="/cara-kerja/">{% fa5_icon 'cog' 'fas' %} Cara Kerja</a>
			</li>
			<li class="nav-item-menu">
				<a class="nav-link" href="/cari-proyek/">{% fa5_icon 'tasks' 'fas' %} Cari Proyek</a>
			</li>
			<li class="nav-item-menu">
				<a class="nav-link" href="/cari-freelancer/">{% fa5_icon 'users' 'fas' %} Cari Freelancer</a>
			</li>
			<li class="nav-item-menu">
				<a class="nav-link" href="/cari-resume/">{% fa5_icon 'tasks' 'fas' %} Cari Resume</a>
			</li>
		</nav>
	</div>
</div>